<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" type = "text/css" rel="stylesheet">
    <title>Fuel Quote History</title>
</head>
<body>
	<div class="top-nav">
		<ul class="menu">
			<li><a href="/quote"><strong>Calculate Fuel Quote</strong></a></li>
			<li><a href="/history"><strong>Fuel Quote History</strong></a></li>
			<li><a href="/savedProfile"><strong>Profile</strong></a></li>
			<li><a href="/logout"><strong>Log Out</strong></a></li>
		</ul>
	</div>

	<div class="center-div"> 
		<div class="center-text"> 
		<h1 class = "headingText">Fuel Quote History</h1>
		<br>
			<table id = "fuel-quotes-table">
				<tr>
					<th>Requested</th>
					<th>Gallons Requested</th>
					<th>Delivery Address</th>
					<th>Delivery Date</th>
					<th>Price Per Gallon</th>
					<th>Service Fee</th>
					<th>Total Due</th>
				</tr>
				
				<% if (typeof fuel_quotes !== 'undefined' && fuel_quotes.length > 0) { %>
					<% for(const entry of fuel_quotes)  { %>
					<tr>
						<td><%= entry.requested_date %></td>
						<td><%= entry.gallons_requested %></td>
						<td><%= entry.address + ", " + entry.city + ", " + entry.state %></td>
						<td><%= entry.delivery_date %></td>
						<td><%= entry.BaseFuelCost %></td>
						<td><%= entry.service_fee %></td>
						<td><%= entry.total_price %></td>
					</tr>
					<% } %>
				<% } else { %>

				<% } %>		
	
			</table>
		</div>
	</div>


</body>
</html>
