<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" type="text/css" rel="stylesheet">

  

  <script>
    function calculate() {
      const quoteForm = document.forms[0];
      if (quoteForm.elements["gals"].value == "") {
        window.alert("Please enter Gallons Requested")
        return 0;
      }

      suggestedPrice = 1.5 + .195; //temp dummy variable
      quoteForm.elements["pricepergal"].value = suggestedPrice;
      quoteForm.elements["totalprice"].value = suggestedPrice * quoteForm.elements["gals"].value;
      return 0; //dummy
    }
  </script>
</head>

<body>
  <div class="top-nav">
    <ul class="menu">
      <li><a href="/quote"><strong>Calculate Fuel Quote</strong></a></li>
      <li><a href="/history"><strong>Fuel Quote History</strong></a></li>
      <li><a href="/savedProfile"><strong>Profile</strong></a></li>
    </ul>
  </div>
  <h1 class="headingText">Fuel Quote</h1>
  <div class="MainContainer">
    
    
    <form action="" method="post" ,id="quote form">
      <div class="container">
      <!-- <div class="container">
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" placeholder="" value= "<%- typeof request_data !== 'undefined' ? request_data.address : '' %>" required>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" placeholder="" value= "<%- typeof request_data !== 'undefined' ? request_data.city : '' %>" required>

        <label for="state">State:</label>
        <select id="state" name="state" required>
            <option value="" disabled selected>Select State</option>
            <option value="TX" <%= (typeof request_data !== 'undefined' && request_data.state === "TX") ? 'selected' : '' %> >TX</option>
            <option value="FL" <%= (typeof request_data !== 'undefined' && request_data.state === "FL") ? 'selected' : '' %> >FL</option>

        </select> -->

        <div id="address1"><p><span class="span-saved-profile">Delivery Address:</span> <%= user_data["address1"] %></p></div>
        <div id="address2"><p><span class="span-saved-profile">Address 2:</span> <%= user_data["address2"] %></p></div>
        <div id="city"><p><span class="span-saved-profile">City:</span> <%= user_data["city"] %></p></div>
        <div id="state"><p><span class="span-saved-profile">State:</span> <%= user_data["state"] %></p></div>
        <div id="zipcode"><p><span class="span-saved-profile">Zipcode:</span> <%= user_data["zipcode"] %></p></div>
        <label for="gallons_requested"><span class="span-saved-profile">Gallons Requested: </span></label>
        <input type="number" placeholder= "" id="gallons_requested" name="gallons_requested" min = "1" max = "100000000" value="<%- typeof request_data !== 'undefined' ? request_data.gallons_requested : '1' %>" onkeyup="" required>

        <label for="date">Delivery date:</label>
        <input type="date" id="delivery_date" name="delivery_date" min="<%= new Date().toISOString().split('T')[0] %>" value="<%- typeof request_data !== 'undefined' ? request_data.delivery_date : '' %>" required>

        <button type="submit" name = "button" value = "get_quote" onsubmit="">Get Quote</button>
        
        <button type="submit" name = "button" value = "submit_form" onsubmit="">Submit Form</button>

        <p id="base-fuel-cost"><span class="span-saved-profile">Base Fuel Cost: </span><%= typeof request_data !== 'undefined' ? request_data.base_fuel_cost : '' %> </h1>
        <p id="service-fee"><span class="span-saved-profile">Service Fee: </span><%= typeof request_data !== 'undefined' ? (request_data.service_fee * 100).toFixed(0) : '' %>%</h1>
        <p id="fuel-quote"><span class="span-saved-profile">Fuel Quote: </span><%= typeof request_data !== 'undefined' ? request_data.total_price : '' %> </h1>
        

      
      </div>
    </form>
    <div id="div-error">
      <p class = "alert"><%= error_message %></p>
    </div>

  <script type="text/javascript" src="submitscript.js"></script>
</body>

</html>